@page
@using FixMyCode.Entities
@using FixMyCode.Services
@model FixMyCode.Pages.BrowseModel

<head>
    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Browse";
    }
</head>

<h2>Browse</h2>

<div>
    <form>
        <div class="form-group">
            <label for="inputSpeaker" class="col-sm-2 control-label">
                Speaker
            </label>
            <div class="col-sm-6">

            </div>
        </div>

        <table class="table table-bordered table-condensed table-hover">
            <tr class="warning">
                <td>Question</td>
                <td>Username</td>
                <td>Code Preview</td>
            </tr>
            @foreach(Query q in BrowseModel.Queries)
             {
                <tr>
                    <td>
                        @Html.TextBoxFor(it => q.Question)
                        @Html.HiddenFor(it => q.Question)
                    </td>
                    <td>
                        @q.Student.UserName
                        @Html.HiddenFor(it => q.Student.UserName)
                    </td>
                    <td>
                        @q.Student.Email
                        @Html.HiddenFor(it => q.Student.Email)
                    </td>
                </tr>
            }
        </table>

    </form>
</div>