@page "/account/createaccount"
@model FixMyCode.Pages.CreateAccountModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>CreateAccount</h2>

<link rel = "stylesheet" href="site.css" />
<script src="~/js/site.js"></script>

<div>
    @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post))
    {
        @Html.Label("Username")
        <br />
        @Html.TextBoxFor(model => model.Username, htmlAttributes: new { id = "usernameText", onfocusout = "return a()" })
        <br />
        <label id="usernameLength" style="visibility: collapse">Username must be at least 5 characters long.</label>

        <br />
        @Html.Label("Email")
        <br />
        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { id = "emailText", onfocusout = "return b()" })
        <br />
        <label id="emailReal" style="visibility: collapse">Email must be real.</label>

        <br />
        @Html.Label("Password")
        <br />
        @Html.PasswordFor(model => model.Password, htmlAttributes: new { id = "passwordText", onfocusout = "return c()" })
        <br />
        <label id="passwordCheck" style="visibility: collapse">Password must be at least 8 characters long and include a number.</label>

        <br />
        @Html.Label("Confirm Password")
        <br />
        <input type="password" name="confirm_passwd" id="confirm_pw" onfocusout = "return d()" />
        <br />
        <label id="confirmCheck" style="visibility: collapse">Passwords must be the same.</label>

        <br />
        <input type="checkbox" id="editor_check" onclick="showStuff()" />
        @Html.Label("Editor")

        <input type="checkbox" id="yes_stbox" onclick="hideStuff()" />
        @Html.Label("Student")
        <br />

        <br />
        @Html.Label("Credentials / Grade")
        <br />
        @Html.TextBoxFor(model => model.Credentials)
        <br />

        <br />
        <button type="submit" id="submit_create">Submit</button>
    }
</div>



