@page
@model FixMyCode.Pages.CreateAccountModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>CreateAccount</h2>



    <link rel = "stylesheet" href="site.css" />

    <div>
        @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post))
        {
            @Html.Label("Username")
            <br />
            @Html.TextBoxFor(model => model.Username)
            <br />

            <br />
            @Html.Label("Email")
            <br />
            @Html.TextBoxFor(model => model.Email)
            <br />

            <br />
            @Html.Label("Password")
            <br />
            @Html.PasswordFor(model => model.Password)
            <br />

            <br />
            @Html.Label("Confirm Password")
            <br />
            <input type="password" name="confirm_passwd" id="confirm_pw" />
            <br />

            <br />
            <input type="checkbox" id="editor_check" onclick="showStuff()" />
            @Html.Label("Editor")

            <input type="checkbox" id="yes_stbox" onclick="hideStuff()" />
            @Html.Label("Student")
            <br />

            <br />
            @Html.Label("Credentials / Grade")
            <br />
            @Html.TextBoxFor(model => model.Credentials)
            <br />

            <br />
            <button type="submit" id="submit_create">Submit</button>
        }
    </div>



